# dependencies
node_modules/

# build outputs
dist/
build/
coverage/

# environment files
.env
.env.* 

# IDEs and editors
.idea/
.vscode/
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# package-lock.json
# yarn.lock
# pnpm-lock.yaml
